<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oycbest.springbootssm.mapper.SsmUserMapper">

    <resultMap type="com.oycbest.springbootssm.domain.SsmUser" id="SsmUserMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="account" column="account" jdbcType="VARCHAR"/>
        <result property="nickName" column="nick_name" jdbcType="VARCHAR"/>
        <result property="constellation" column="constellation" jdbcType="VARCHAR"/>
        <result property="age" column="age" jdbcType="VARCHAR"/>
        <result property="sex" column="sex" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="SsmUserMap">
        select
          id, name, account, nick_name, constellation, age, sex, create_time
        from oyc.ssm_user
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="SsmUserMap">
        select
          id, name, account, nick_name, constellation, age, sex, create_time
        from oyc.ssm_user
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="SsmUserMap">
        select
          id, name, account, nick_name, constellation, age, sex, create_time
        from oyc.ssm_user
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="account != null and account != ''">
                and account = #{account}
            </if>
            <if test="nickName != null and nickName != ''">
                and nick_name = #{nickName}
            </if>
            <if test="constellation != null and constellation != ''">
                and constellation = #{constellation}
            </if>
            <if test="age != null and age != ''">
                and age = #{age}
            </if>
            <if test="sex != null and sex != ''">
                and sex = #{sex}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into oyc.ssm_user(name, account, nick_name, constellation, age, sex, create_time)
        values (#{name}, #{account}, #{nickName}, #{constellation}, #{age}, #{sex}, #{createTime})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update oyc.ssm_user
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="account != null and account != ''">
                account = #{account},
            </if>
            <if test="nickName != null and nickName != ''">
                nick_name = #{nickName},
            </if>
            <if test="constellation != null and constellation != ''">
                constellation = #{constellation},
            </if>
            <if test="age != null and age != ''">
                age = #{age},
            </if>
            <if test="sex != null and sex != ''">
                sex = #{sex},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from oyc.ssm_user where id = #{id}
    </delete>

</mapper>